<script>
    layui.use(['jquery'], function () {

        var $ = layui.jquery;
        $('.layadmin-tabspage-none .layui-layout-admin .layui-body').addClass("top", "0px;");
    });

</script>
<style>
    .layui-side{
        top:0px;
    }
    .layui-header{
        display: none;
    }
    .layui-layout-admin .layui-body{
        top:0px;
    }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
<p style="position: fixed;top: 0px;">测试</p>
</body>
</html>
<script>
    // layui.use(['jquery'], function () {
    //
    //     var $ = layui.jquery;
    //     $body = $('#my-body');
    //     console.log($body);
    //     $body.addClass("top", "0px;");
    // });

</script>