<div class="layui-form-item">
    <label class="layui-form-label"><i style="color: red">*</i>产品图片:</label>
    <input type="hidden" name="productImg" id="productImg"/>
    <div class="layui-upload">
        <button type="button" class="layui-btn" id="productImgButton">上传</button>
        <div class="layui-upload-list">
            <img class="layui-upload-img" id="productImgImg">
        </div>
    </div>
</div>

<script>
    layui.use(['croppers'], function(){
        var $ = layui.jquery,
            croppers = layui.croppers;

        //创建一个图片裁剪上传组件
        var productImgCropper = croppers.render({
            elem: '#productImgButton'
            ,saveW:800     //保存宽度
            ,saveH:600     //保存高度
            ,mark:4/3   //选取比例
            ,area:'900px'  //弹窗宽度
            ,url: 'http://127.0.0.1:9090/fileupload/smallfile'  //图片上传接口返回和（layui 的upload 模块）返回的JOSN一样
            ,done: function(res){ //上传完毕回调
                console.log(res);
                $("#productImg").val(res.data.url);
                $("#productImgImg").attr('src',res.data.url);
            }
        });
    })
</script>