<!--<script type="text/html" template>-->
<!--	<link rel="stylesheet" href="{{ layui.setter.base }}style/dragscroll-style.css?v={{ layui.admin.v }}-1" media="all">-->
<!--</script>-->
<style>
	.layui-side{
		width: 0px;
		height: 0px;
		display: none;
	}
	#LAY_app_body{
		top:5px;
		background-color: #fcfcfc;
	}
	.layui-header{
		width:0px;
		height: 0px;
		display: none;
	}
	body{
		cursor:url(http://47.102.100.102/cursor.cur),auto;
	}

</style>
<!DOCTYPE html>
<html >
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">		
	</head>
	<body>

		<!--<div class="article-title">
			<h1 class="title">我是预览页面</h1>
		</div>		
		<div class="article-top">
			<p class="article-time">我是预览作者</p>
			<p class="article-yue ">阅读 10W+</p>
		</div>-->
		<div class="article-content" style="margin-top: 0px;" unselectable="on" onselectstart="return false;" style="-moz-user-select:none;"></div>
	</body>
</html>
