<style>
    #lovexian-components-others .layui-card-header {
        font-weight: 600;
    }

    #lovexian-components-others p {
        margin-bottom: 10px
    }
    #lovexian-components-others .layui-badge {
        line-height: 20px;
        margin: .25rem .5rem .25rem 0;
    }
    #lovexian-components-others .alert {
        margin-bottom: .75rem;
    }
</style>
<div class="layui-fluid layui-anim lovexian-anim" id="lovexian-components-others" lay-title="其他组件">
    <div class="layui-row layui-col-space8 lovexian-container">
        <div class="layui-col-md12 layui-col-sm12 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header">Tag标签</div>
                <div class="layui-card-body">
                    <p>样式一</p>
                    <div>
                        <span class="layui-badge lovexian-tag-green">lovexian-tag-green</span>
                        <span class="layui-badge lovexian-tag-magenta">lovexian-tag-magenta</span>
                        <span class="layui-badge lovexian-tag-orange">lovexian-tag-orange</span>
                        <span class="layui-badge lovexian-tag-red">lovexian-tag-red</span>
                        <span class="layui-badge lovexian-tag-volcano">lovexian-tag-volcano</span>
                        <span class="layui-badge lovexian-tag-gold">lovexian-tag-gold</span>
                        <span class="layui-badge lovexian-tag-lime">lovexian-tag-lime</span>
                        <span class="layui-badge lovexian-tag-cyan">lovexian-tag-cyan</span>
                        <span class="layui-badge lovexian-tag-blue">lovexian-tag-blue</span>
                        <span class="layui-badge lovexian-tag-geekblue">lovexian-tag-geekblue</span>
                        <span class="layui-badge lovexian-tag-purple">lovexian-tag-purple</span>
                    </div>
                    <p>样式二</p>
                    <div>
                        <span class="layui-badge lovexian-bg-green">.lovexian-bg-green</span>
                        <span class="layui-badge lovexian-bg-magenta">lovexian-bg-magenta</span>
                        <span class="layui-badge lovexian-bg-orange">lovexian-bg-orange</span>
                        <span class="layui-badge lovexian-bg-red">lovexian-bg-red</span>
                        <span class="layui-badge lovexian-bg-volcano">lovexian-bg-volcano</span>
                        <span class="layui-badge lovexian-bg-gold">lovexian-bg-gold</span>
                        <span class="layui-badge lovexian-bg-lime">lovexian-bg-lime</span>
                        <span class="layui-badge lovexian-bg-cyan">lovexian-bg-cyan</span>
                        <span class="layui-badge lovexian-bg-blue">lovexian-bg-blue</span>
                        <span class="layui-badge lovexian-bg-geekblue">lovexian-bg-geekblue</span>
                        <span class="layui-badge lovexian-bg-purple">lovexian-bg-purple</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md12 layui-col-sm12 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header">Alert告警提示</div>
                <div class="layui-card-body">
                    <div class="alert">
                        <span class="lovexian-alert-base lovexian-alert-success">Success Tips</span>
                    </div>
                    <div class="alert">
                        <span class="lovexian-alert-base lovexian-alert-info">Informational Notes</span>
                    </div>
                    <div class="alert">
                        <span class="lovexian-alert-base lovexian-alert-warn">Warning Message</span>
                    </div>
                    <div class="alert">
                        <span class="lovexian-alert-base lovexian-alert-error">Error Message</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>