<!--#include virtual="lawerDetail.html" -->
<style>
    .layui-table-cell {
        height: 60px;
        max-width: 200px;
    }
</style>
<div class="layui-fluid layui-anim lovexian-anim" id="lovexian-dtus" lay-title="dtu信息">
    <div class="layui-row lovexian-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body lovexian-table-full">
                    <div class="layui-row">
                        <form class="layui-form layui-table-form" lay-filter="action-table-form">
                            <div class="layui-row">
                                <div class="layui-col-md10">
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label  class="layui-form-label layui-form-label-sm">DTU名</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="dtuName" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label layui-form-label-sm">DTU类型</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="dtuType" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label layui-form-label-sm">DTU状态</label>
                                            <div class="layui-input-inline">
                                                <select name="status">
                                                    <option value=""></option>
                                                    <option value="0">状态正常</option>
                                                    <option value="1">状态错误</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                    <div class="layui-btn layui-btn-sm layui-btn-primary table-action" name="query" title="搜索">
                                        <i class="layui-icon">&#xe615;</i>
                                    </div>
                                    <div class="layui-btn layui-btn-sm layui-btn-primary table-action" name="reset" title="刷新">
                                        <i class="layui-icon">&#xe669;</i>
                                    </div>
                                    <span id="actionMoreContainer">

                                    </span>

                                </div>
                            </div>
                        </form>


                        <div class="layui-tab layui-tab-brief" lay-filter="dtuTab">
                            <ul class="layui-tab-title">
<!-- lay-id:两个列表,设置的值越小,那么小的就会率先出现下划线-->
                                <li style="color: #2db7f5" class="layui-this" lay-id="1">dtu信息</li>
                            </ul>


                            <input hidden="hidden" id="actTypeId" value="">
                            <!--dtu信息列表展示开始-->
                            <div class="layui-tab-content"><!--景点信息-->
                                <div class="layui-fluid layui-tab-item">
                                    <div class="layui-row"><!--表格展示-->
                                        <table lay-filter="dtusTable" id="dtusTable" lay-data="{id:'dtusTable'}">
                                        </table>
                                    </div>
                                </div><!--景点信息结束-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="preview-layer">
    <div class="preview-bg"></div>
    <div class="preview-phone" id="previewPhone">
        <iframe id="preview-html" name="preview-html" src="#/preview/preview-h5"></iframe>
    </div>
</div>


<!--状态--><!--此处需要修改status和数据库字段一致,-->
<!--注意:script中不要加注释,否则会错误--><!--注意:script中不要加注释,否则会错误--><!--注意:script中不要加注释,否则会错误--><!--注意:script中不要加注释,否则会错误-->
<script type="text/html" id="check-state">
    {{#
    var status = {
    100: {title: '草稿状态', color: 'lime'},
    0: {title: '状态正常', color: 'blue'},
    1: {title: '状态错误', color: 'green'},
    2: {title: '审核拒绝', color: 'volcano'}
    }[d.status];
    }}
    <span class="layui-badge lovexian-tag-{{ status.color}}">{{ status.title }}</span>
</script>

<script type="text/html" id="show-flag">
    {{# if(d.isShow == 1){ }}
    <input type="checkbox" value={{d.id}}  lay-filter="delState" name="delState" lay-skin="switch" lay-text="展示|不展示" checked>
    {{# }else{ }}
    <input type="checkbox" value={{d.id}} lay-filter="delState" name="delState" lay-skin="switch" lay-text="展示|不展示">
    {{# } }}
</script>


<!--展示更多:批量删除,新增按钮-->
<script type="text/html" id="actionMoreDtuTpl">
{{# if(hasAnyPermission(['dtuInfo:add'])) { }}
<div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more">
    <i class="layui-icon">&#xe875;</i>
</div>
{{# } }}
</script>


<script type="text/html" id="action-option">
    {{# if(hasPermission(['fairInfo:list'])) { }}
    {{# } }}
    {{# if(hasPermission(['fairInfo:list'])) { }}

    <a lay-event="edit" title=" 编辑"><i class="layui-icon lovexian-edit-area lovexian-blue" style="color: #2db7f5">&#xe642;</i></a>
    {{# }else{ }}


    {{# } }}

    {{# if(hasPermission(['fairInfo:list'])) { }}
    <a lay-event="del" title="删除"><i class="layui-icon lovexian-edit-area lovexian-red">&#xe640;</i></a>
    {{# } }}
    {{# if(lacksPermission(['fairInfo:list','dtuInfo:update','dtuInfo:del'])) { }}
    <span>
            <span class="layui-badge-dot lovexian-bg-orange"></span> 无权限
    </span>
    {{# } }}
</script>

<script>
    layui.use('theme/dtuManage/dtu', layui.factory('theme/dtuManage/dtu'));
</script>

