--#include virtual="lawerDetail.html" -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">;
</head>
<style>
    .layui-table-cell {
        height: 60px;
        max-width: 200px;
    }
</style>
<div class="layui-fluid layui-anim earthsite-anim" id="earthsite-gatewayInfo" lay-title="网关信息">
    <div class="layui-row earthsite-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body earthsite-table-full">
                    <div class="layui-row">
                        <form class="layui-form layui-table-form" lay-filter="action-table-form">
                            <div class="layui-col-md12">
                                <div class="layui-col-md12">
                                    <div class="layui-col-md12" >
                                        <label class="layui-form-label layui-form-label-sm">网关号</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="gatewayName" autocomplete="off" class="layui-input">
                                        </div>
                                        <button class="layui-btn layui-btn-radius layui-btn-lg layui-btn-primary table-action" name="query" title="搜索">
                                            <i class="layui-icon" style="color: #1E9FFF;">&#xe615;</i>
                                        </button>
                                        <button class="layui-btn layui-btn-radius layui-btn-lg layui-btn-primary table-action" name="refersh" title="刷新">
                                            <i class="layui-icon" style="color: #1E9FFF;">&#xe669;</i>
                                        </button>
                                        <button class="layui-btn layui-btn-radius layui-btn-lg layui-btn-primary table-action"  name="add" title="添加" >
                                            <i class="layui-icon" style="color: #1E9FFF;">&#xe654;</i>
                                        </button>
                                        <hr class="layui-bg-blue">
                                        <label class="layui-col-lg-offset8">当前网关数量:0</label>
                                        <div> </div>

                                    </div>

                                    <div class="layui-form-item ">
                                        <div class="layui-tab layui-tab-brief" lay-allowClose="true">
                                            <ul class="layui-tab-title" >
                                                <li class="layui-this">网关信息</li>
                                                <li>增加新的网关</li>
                                            </ul>

                                            <div class="layui-tab-content">
                                                <div class="layui-tab-item">
                                                    <table id="gatewayInfo" lay-filter="test"></table>
                                                </div>
                                                <div class="layui-tab-item">
                                                    <form class="layui-form" action="">
                                                        <div class="layui-form-item">
                                                            <div class="layui-col-md5">
                                                                <label class="layui-form-label">网关名称</label>
                                                                <div class="layui-input-block">
                                                                    <input type="text" name="title" required  lay-verify="required" placeholder="请输入网关名称" autocomplete="off" class="layui-input">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="layui-form-item">
                                                            <div class="layui-col-md5">
                                                                <label class="layui-form-label">网关号</label>
                                                                <div class="layui-input-block">
                                                                    <input type="text" name="title" required  lay-verify="required" placeholder="请输入网关号" autocomplete="off" class="layui-input">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="layui-form-item">
                                                            <div class="layui-col-md5">
                                                                <label class="layui-form-label">选择框</label>
                                                                <div class="layui-input-block">
                                                                    <select name="city" lay-verify="required">
                                                                        <option value=""></option>
                                                                        <option value="0">0</option>
                                                                        <option value="1">1</option>
                                                                        <option value="2">2</option>
                                                                        <option value="3">3</option>
                                                                        <option value="4">4</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="layui-form-item">
                                                            <div class="layui-col-md5">
                                                                <label class="layui-form-label">复选框</label>
                                                                <div class="layui-input-block">
                                                                    <input type="checkbox" name="like[write]" title="1">
                                                                    <input type="checkbox" name="like[read]" title="2" checked>
                                                                    <input type="checkbox" name="like[dai]" title="3">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="layui-form-item">
                                                            <label class="layui-form-label">开关</label>
                                                            <div class="layui-input-block">
                                                                <input type="checkbox" name="switch" lay-skin="switch">
                                                            </div>
                                                        </div>
                                                        <div class="layui-form-item">
                                                            <label class="layui-form-label">单选框</label>
                                                            <div class="layui-input-block">
                                                                <input type="radio" name="sex" value="1" title="1">
                                                                <input type="radio" name="sex" value="2" title="2" checked>
                                                            </div>
                                                        </div>
                                                        <div class="layui-form-item layui-form-text">
                                                            <label class="layui-form-label">备注</label>
                                                            <div class="layui-input-block">
                                                                <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="layui-form-item">
                                                            <div class="layui-input-block">
                                                                <button class="layui-btn" lay-submit lay-filter="formDemo">确定</button>
                                                                <button type="reset" class="layui-btn layui-btn-primary">取消</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                   </div>
              </div>
           </div>
        </div>
    </div>
</div>
<div class="preview-layer">
<div class="preview-bg"></div>
<div class="preview-phone" id="previewPhone">
    <iframe id="preview-html" name="preview-html" src="#/preview/preview-h5"></iframe>
</div>
</div>

    <script>
        //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
        layui.use('element', function(){
            var element = layui.element;

            //…
        });
    </script>

<script>

    layui.use('table', function(){
        var table = layui.table;

        table.render({
            elem: '#gatewayInfo'
            ,height: 312
            ,url: '127.0.0.1' //数据接口
            ,page: true //开启分页
            ,limit: 10 //每页限定10条
            ,cols: [[ //表头
                {field: 'id', title: '网关号', width:120, sort: true, fixed: 'left'}
                ,{field: 'gatewayname', title: '网关名称', width:120}
                ,{field: 'addtime', title: '创建时间', width:140, sort: true}
                ,{field: 'adder', title: '创建人', width:120}
                ,{field: 'updatetime', title: '更新时间', width: 140}
                ,{field: 'updater', title: '更新人', width: 120, sort: true}
                ,{field: 'operate', title: '操作', width: 80, align:'center', toolbar: '#toolBar' }
            ]]
        });

    });
    element.tabAdd('demo', {
        title: '增加网关'
        ,content: '选项卡的内容' //支持传入html
        ,id: '选项卡标题的lay-id属性值'
    });
    element.tabChange('demo', 'layid');

    element.on('tabDelete(filter)', function(data){
        console.log(this); //当前Tab标题所在的原始DOM元素
        console.log(data.index); //得到当前Tab的所在下标(此下标是标签页在的位置并不是固定的)
        console.log(data.elem);
    });

</script>
<script type="text/html" id="toolBar">
    <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>

    <!-- 这里同样支持 laytpl 语法，如： -->
    {{#  if(d.auth > 2){ }}
    <a class="layui-btn layui-btn-xs" lay-event="check">审核</a>
    {{#  } }}

</script>

<script type="text/html" id="actionMoreTpl"><!--展示更多-->
{{# if(hasAnyPermission(['add:lawerInfo'])) { }}
<div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more">
    <i class="layui-icon">&#xe875;</i>
</div>
{{# } }}
</script>
</html>