<!--#include virtual="lawerDetail.html" -->
<style>
  .layui-table-cell {
    height: 60px;
    max-width: 200px;
  }
</style>
<div class="layui-fluid layui-anim lovexian-anim" id="lovexian-dispalyAll" lay-title="总体展示">
  <!--    <div>-->
  <!--        <iframe src="http://123.57.94.242:3000/d/y7Vpa9FMz/tu-yi-zhi?orgId=1&from=1603258925959&to=1603280525959" frameborder="0" width="100%" height="800px"></iframe>-->
  <!--    </div>-->


  <!--    <div>-->
  <!--        <iframe src="http://123.57.94.242:3000/d-solo/y7Vpa9FMz/tu-yi-zhi?orgId=1&from=1603179999198&to=1603201599198&panelId=4" width="150" height="150" frameborder="0"></iframe>-->
  <!--        <iframe src="http://123.57.94.242:3000/d-solo/y7Vpa9FMz/tu-yi-zhi?orgId=1&from=1603180529589&to=1603202129589&panelId=8" width="149" height="150" frameborder="0"></iframe>-->
  <!--        <iframe src="http://123.57.94.242:3000/d-solo/y7Vpa9FMz/tu-yi-zhi?orgId=1&from=1603180565267&to=1603202165268&panelId=9" width="149" height="150" frameborder="0"></iframe>-->
  <!--        <iframe src="http://123.57.94.242:3000/d-solo/y7Vpa9FMz/tu-yi-zhi?orgId=1&from=1603199561334&to=1603203161334&panelId=10" width="149" height="150" frameborder="0"></iframe>-->
  <!--        <iframe src="http://123.57.94.242:3000/d-solo/y7Vpa9FMz/tu-yi-zhi?orgId=1&from=1603199803658&to=1603203403658&panelId=24" width="149" height="150" frameborder="0"></iframe>-->
  <!--        <iframe src="http://123.57.94.242:3000/d-solo/y7Vpa9FMz/tu-yi-zhi?orgId=1&from=1603199831271&to=1603203431271&panelId=25" width="149" height="150" frameborder="0"></iframe>-->
  <!--        <iframe src="http://123.57.94.242:3000/d-solo/y7Vpa9FMz/tu-yi-zhi?orgId=1&from=1603199851153&to=1603203451153&panelId=19" width="149" height="150" frameborder="0"></iframe>-->
  <!--        <iframe src="http://123.57.94.242:3000/d-solo/y7Vpa9FMz/tu-yi-zhi?orgId=1&from=1603199869383&to=1603203469383&panelId=21" width="149" height="150" frameborder="0"></iframe>-->
  <!--    </div>-->

  <!--    <div>-->
  <!--        <iframe src="http://123.57.94.242:3000/d-solo/y7Vpa9FMz/tu-yi-zhi?orgId=1&from=1603179953952&to=1603201553953&panelId=2" width="610" height="400" frameborder="0"></iframe>-->
  <!--        <iframe src="http://123.57.94.242:3000/d-solo/y7Vpa9FMz/tu-yi-zhi?orgId=1&from=1603199174151&to=1603202774151&panelId=6" width="610" height="400" frameborder="0"></iframe>-->
  <!--    </div>-->

  <div>
    <div class="layui-row" id="All">

    </div>
  </div>

  <div>
    <div class="layui-row">
      <div class="layui-col-md6" id="add">
        <div class="layui-col-md3">
          <iframe src="http://123.57.94.242:3000/d-solo/y7Vpa9FMz/tu-yi-zhi?orgId=1&from=1603179999198&to=1603201599198&panelId=4"
                  width="100%" height="100%" frameborder="0"></iframe>
        </div>
        <div class="layui-col-md3">
          <iframe src="http://123.57.94.242:3000/d-solo/y7Vpa9FMz/tu-yi-zhi?orgId=1&from=1603180529589&to=1603202129589&panelId=8"
                  width="100%" height="150" frameborder="0"></iframe>
        </div>
        <div class="layui-col-md3">
          <iframe src="http://123.57.94.242:3000/d-solo/y7Vpa9FMz/tu-yi-zhi?orgId=1&from=1603180565267&to=1603202165268&panelId=9"
                  width="100%" height="150" frameborder="0"></iframe>
        </div>
        <div class="layui-col-md3">
          <iframe src="http://123.57.94.242:3000/d-solo/y7Vpa9FMz/tu-yi-zhi?orgId=1&from=1603199561334&to=1603203161334&panelId=10"
                  width="100%" height="150" frameborder="0"></iframe>
        </div>
      </div>
      <div class="layui-col-md6">
        <div class="layui-col-md3">
          <iframe src="http://123.57.94.242:3000/d-solo/y7Vpa9FMz/tu-yi-zhi?orgId=1&from=1603199803658&to=1603203403658&panelId=24"
                  width="100%" height="150" frameborder="0"></iframe>
        </div>
        <div class="layui-col-md3">
          <iframe src="http://123.57.94.242:3000/d-solo/y7Vpa9FMz/tu-yi-zhi?orgId=1&from=1603199831271&to=1603203431271&panelId=25"
                  width="100%" height="150" frameborder="0"></iframe>
        </div>
        <div class="layui-col-md3">
          <iframe src="http://123.57.94.242:3000/d-solo/y7Vpa9FMz/tu-yi-zhi?orgId=1&from=1603199851153&to=1603203451153&panelId=19"
                  width="100%" height="150" frameborder="0"></iframe>
        </div>
        <div class="layui-col-md3">
          <iframe src="http://123.57.94.242:3000/d-solo/y7Vpa9FMz/tu-yi-zhi?orgId=1&from=1603199869383&to=1603203469383&panelId=21"
                  width="100%" height="150" frameborder="0"></iframe>

        </div>
      </div>
    </div>
<!--    <div class="layui-row layui-col-space5">-->
<!--      <div class="layui-col-md6">-->
<!--        <iframe src="http://123.57.94.242:3000/d-solo/y7Vpa9FMz/tu-yi-zhi?orgId=1&from=1603179953952&to=1603201553953&panelId=2"-->
<!--                width="100%" height="400px" frameborder="0"></iframe>-->
<!--      </div>-->
<!--      <div class="layui-col-md6">-->
<!--        <iframe src="http://123.57.94.242:3000/d-solo/y7Vpa9FMz/tu-yi-zhi?orgId=1&from=1603199174151&to=1603202774151&panelId=6"-->
<!--                width="100%" height="400px" frameborder="0"></iframe>-->
<!--      </div>-->

<!--    </div>-->
  </div>
</div>

  <script>
    layui.use('theme/dataDisplay/displayAll', layui.factory('theme/dataDisplay/displayAll'));
  </script>

